.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #d3d6da;
    border-radius: 4px;
    cursor: text;
    padding-bottom: 14px;
}

.page-item .page-link,
.page-item span {
    color: #aeb0b3;
}
